* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6e6e6;
  margin: 10px;
}
.container {
  background-color: #fff;
  padding: 40px;
  box-shadow: #00000030 0px 10px 20px, #0000003b 0px 6px 6px;
}
section {
  width: 100%;
  height: 100vh;
}
.headline-page {
  background-color: #3d3131;
  background-image: url("../assets/Desktop_Backgrounds.png");
  background-size: cover;
}

.headline-text {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.intro header {
  height: 200px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.intro {
  display: flex;
  justify-content: space-between;
}

ul li {
  display: inline-block;
  list-style: none;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.2em;
}

header ul {
  display: flex;
  gap: 50px;
  margin-right: 200px;
}

header a {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
header > a {
  display: inline-block;
  margin-left: 100px;
  font-family: Source Sans Pro;
  font-size: 20px;
  letter-spacing: 0.1em;
}

h1,
.learn-more h2,
.section-headline h2 {
  font-family: Oswald, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
}

h1,
.learn-more h2 {
  color: #fff;
  margin-bottom: 42px;
  margin-top: 13px;
}

.section-headline h2 {
  margin: 25px;
  color: #464547;
}
.headline-text h3,
.section-headline h3,
.learn-more h3,
.section-headline p,
.project {
  font-family: Source Sans Pro;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.learn-more h3,
.headline-text h3,
button {
  color: #fff;
}

.section-headline h3 {
  margin-bottom: 25px;
  color: #666666;
}
.headline-text div img {
  display: block;
  justify-content: center;
  margin: 0 auto;
}

.section-headline {
  background-color: #eee;
  display: flex;
  margin: 0 auto;
}

.section-headline article {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section article div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 50px;
  margin: 30px 200px;
  align-content: center;
}

.section-headline p {
  font-size: 16px;
}

div .main-text {
  text-align: left;
  color: #666;
  line-height: 22px;
}

.main-text {
  font-family: Source Sans Pro;
  font-weight: 400;
}

button {
  padding: 5px 18px;
  background: #55c2d8;
  border-radius: 18px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-align: center;
  border: #55c2d8;
  margin-bottom: 40px;
}

.learn-more {
  background-image: url(../assets/background-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #8c4f2a4d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.learn-more button {
  font-family: arial;
  font-size: 70px;
  color: #fff;
  background-color: #55c2d8;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

footer {
  height: 170px;
  background-color: #464547;
  padding-left: 140px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-content: stretch;
}

footer address,
footer span,
footer a {
  color: #ffffff66;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  align-items: center;
}

footer address {
  margin-top: 15px;
}
footer a {
  text-decoration: none;
}

.project {
  margin-left: 8px;
  color: #fff;
  font-style: normal;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

footer div:nth-child(2) {
  height: 100%;
}
footer address {
  margin-top: 0;
}

footer address ~ div {
  display: flex;
  align-items: flex-end;
}

footer div:last-child {
  grid-column: 3 / 4;
  grid-row: 2 / -1;
  align-self: center;
}
